[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jieba = "*"
python-docx = "*"
django = "==2.2.13"
redis = "*"
django-redis = "*"
pymysql = "*"
gensim = "*"
pandas = "*"
xlrd = "*"

[dev-packages]

[requires]
python_version = "3.6"
