<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>管理子模块</title>
</head>
<body>
    <h1 style="margin-left: 150px">提交情况:</h1>
    <table style="margin-left: 200px;margin-bottom: 30px" border="3" width="70%">
        <thead>
            <tr>
				<th>子模块</th>
				<th>学生</th>
                <th>班级</th>
                <th>提交情况</th>
            </tr>
        </thead>
        <tbody>
            {% for student in student_list %}
            <tr>
                <td align="center">{{ module_name }}</td>
                <td align="center">{{ student.name }}</td>
                <td align="center">{{ student.unit }}</td>
                <td align="center">{{ student.is_upload }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>