<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>项目管理</title>
</head>
<body>
    <table style="margin-top: 50px" border="3" width="100%">
        <thead>
            <tr>
				<th>项目</th>
				<th>子模块</th>
				<th>截止日期</th>
				<th>创建时间</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for module in module_list %}
            <tr>
                <td align="center">{{ project_name }}</td>
                <td align="center"><a href={{ module.url }}>{{ module.name }}</a></td>
                <td align="center">{{ module.end_date }}</td>
                <td align="center">{{ module.createtime }}</td>
                <td align="center"><a href={{ module.similarity_url }}>计算相似度</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form style="margin-top: 30px;margin-left: 200px" action="" method="post" onsubmit="return">
        {% csrf_token %}
        <button style="margin-right: 70px" type="submit" name="admin_user">编辑参与学生</button>
        <button style="margin-right: 70px" type="submit" name="edit_project">修改项目信息</button>
        <button type="submit" name="create_module">新建子模块</button>
    </form>
</body>
</html>