<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>修改项目信息</title>
</head>
<body>
    <h1>修改项目信息</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label>请输入项目的新名称:</label>
        <input type="text" name="project_name">
        <label>请输入项目的截至日期(选填):</label>
        <input type="date" name="project_end_date">
        <button type="submit" name="confirm">确认</button>
        <button type="submit" name="reset">重置</button>
    </form>
    <p>{{ edit_status }}</p>
</body>
</html>