<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>提交</title>
</head>
<body style="margin-left: 80px;margin-top: 50px">
    <h2>模块[{{ module_name }}]提交情况:</h2>
    <h4 style="margin-left: 30px">请选择要上传的附件:</h4>
    <form style="margin-left: 30px" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="send_extend_file">
        <input type="submit">
    </form>
    <p style="margin-bottom: 50px;margin-left: 50px">{{ extend_upload_result }}</p>
    <h4 style="margin-left: 30px">请选择要上传的文档文件(doc|docx):</h4>
    <form style="margin-left: 30px" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="send_doc_file">
        <input type="submit">
    </form>
    <p style="margin-left: 50px">{{ doc_upload_result }}</p>
</body>
</html>