<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>查看项目</title>
</head>
<body>
    <h2>项目[{{ project_name }}]中的模块:</h2>
    <table border="3" width="100%">
        <thead>
            <tr>
				<th>项目</th>
				<th>子模块</th>
				<th>截止日期</th>
				<th>布置时间</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for module in module_list %}
            <tr>
                <td align="center">{{ project_name }}</td>
                <td align="center"><a href={{ module.url }}>{{ module.name }}</a></td>
                <td align="center">{{ module.end_date }}</td>
                <td align="center">{{ module.createtime }}</td>
                <td align="center"><a href={{ module.similarity_url }}>计算相似度</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>