<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>文档相似度</title>
</head>
<body>
    <h2>[{{ module_name }}]文档相似情况:</h2>
    <table border="3" width="100%">
        <thead>
            <tr>
				<th>文档</th>
				<th>相似度</th>
            </tr>
        </thead>
        <tbody>
            {% for similarity in similarity_list %}
            <tr>
                <td align="center">{{ similarity.doc_B }}</td>
                <td align="center">{{ similarity.similarity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>