<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>文档相似度</title>
</head>
<body>
    <h2>[{{ module_name }}]文档相似度计算结果:</h2>
    <table style="margin-left: 150px" border="3" width="80%">
        <thead>
            <tr>
				<th>文档A</th>
				<th>文档B</th>
				<th>相似度</th>
            </tr>
        </thead>
        <tbody>
            {% for similarity in similarity_list %}
            <tr>
                <td align="center"><a href="{{ similarity.doc_A_download }}">{{ similarity.doc_A }}</a></td>
                <td align="center"><a href="{{ similarity.doc_B_download }}">{{ similarity.doc_B }}</a></td>
                <td align="center">{{ similarity.similarity }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>